<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>{% block title %} {% endblock %} - ZOWT</title>
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
</head>

<body>
  <div class="container">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">ZOWT</a>
          <a class="navbar-item" href="/topics">Topics</a>
          {# <a class="navbar-item" href="{{ url_for('topics') }}">Topics</a>#}
        </div>
      </div>
    </nav>
    <hr>
    {% block content %} {% endblock %}
  </div>
</body>

</html>
