{% extends 'base.html' %}

{% block content %}
    <div style="display: flex; flex-direction: row; align-items: center;">
        <div style="margin: 20px"><a href="/topics">Go back</a></div>
        <h1>{% block title %} {{ topic["name"] }} {% endblock %}</h1>
    </div>

    <div style="width: 50%; margin: auto">
{#      todo: conditional header based on if the user has already added a comment            #}
        <h3>Voeg jouw mening toe!</h3>
        <form method="post">
            <textarea name="content"
                      placeholder="Message content"
                      rows="15"
                      cols="60"
                      >{{ request.form['content'] }}</textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div style="width: 50%; margin: auto">
        {% for comment in comments %}
        <div style="padding: 10px; background-color: #EEE; margin: 20px" >
            <h3> {{ comment.username }}</h3>
            <p style="font-size: 24px">{{ comment.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}