{% extends 'base.html' %}

{% block content %}
    <div style="display: flex; flex-direction: row; align-items: center;">
        <button class="button is-link is-light"><a href="/topics">Go back</a></button>
        <p class="is-size-4 pl-1">{% block title %} {{ topic["name"] }} {% endblock %}</p>
    </div>

    <div style="width: 50%; margin: auto">
{#      todo: conditional header based on if the user has already added a comment            #}
        <h3>Voeg jouw mening toe!</h3>
        <form method="post">
            <textarea name="content"
                      placeholder="Message content"
                      rows="15"
                      class="textarea"
                      >{{ request.form['content'] }}</textarea>
            <br>
            <button class="button" type="submit">Submit</button>
        </form>
    </div>

    <div style="width: 50%; margin: auto; margin-top: 1vh">
        {% for comment in comments %}
        <div class="box has-background-white-ter mb-3" >
            <h1 class="title is-4"> {{ comment.username }}</h1>
            <p>{{ comment.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
