{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Topics {% endblock %}</h1>
    <div style="width: 50%; margin: auto">
        <div style="width: 50%; margin: auto">
            <h3>Voeg een topic toe!</h3>
            <form method="post">
                <input type="text" name="title"
                    placeholder="Topic title"
                    value="{{ request.form['title'] }}"></input>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>

        {% for topic in topics %}
            <a href="topics/{{ topic['_id'] }}/comments">
                <div style="padding: 10px; background-color: #EEE; margin: 20px">
                    <p style="font-size: 24px">{{ topic.name }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}